@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

.dark-theme {

    --bg-color: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --display-bg: hsl(224, 36%, 15%);
    --display-text: hsl(0, 100%, 100%);

    --function-key-bg: hsl(225, 21%, 49%);
    --function-key-shadow: hsl(224, 28%, 35%);
    --function-key-text: hsl(0, 100%, 100%);
    --function-key-hover: hsl(224, 51%, 76%);

    --equals-key-bg: hsl(6, 63%, 50%); 
    --equals-key-hover: hsla(6, 93%, 67%, 1);
    --equals-key-shadow: hsl(6, 70%, 34%);
    --equals-key-text: hsl(0, 100%, 100%);

    --number-key-bg: hsl(30, 25%, 89%);
    --number-key-hover: hsl(31, 100%, 100%);
    --number-key-shadow: hsl(28, 16%, 65%);
    --number-key-text: hsl(221, 14%, 31%);

    --focus-color: hsl(223, 31%, 20%);
}

body {
    font-family: 'Spartan', sans-serif;
    background-color: var(--bg-color);
    color: var(--display-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1.5em;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: var(--display-text);
}

.search-container {
    margin-top: 1em;
}

.search-container input {
    padding: 0.5em;
    background-color: var(--keypad-bg);
    border-radius: 0.625rem;
    color: var(--number-key-text);
    box-shadow: inset 0 -0.25rem 0 var(--keypad-bg);
}

.search-container input::placeholder {
    font-family: 'Spartan';
    color: var(--number-key-shadow);
}

.search-container button {
    font-family: 'Spartan';
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: var(--number-key-bg);
    color: var(--number-key-text);
    box-shadow: inset 0 -0.25rem 0 var(--number-key-shadow);
    cursor: pointer;
    margin-left: 0.5em;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: var(--function-key-hover);
}

main {
    flex: 1;
    padding: 2em;
}

.current-weather, .forecast {
    margin-bottom: 2em;
    background-color: var(--keypad-bg);
    padding: 1.5em;
    border-radius: 10px;
}

.current-weather h2, .forecast h2 {
    font-size: 1.5rem;
    color: var(--equals-key-bg);
    margin-bottom: 1em;
}

footer {
    background-color: var(--display-bg);
    text-align: center;
    padding: 1em;
    border-top: 1px solid var(--keypad-bg);
    color: var(--function-key-text);
}

@media (min-width: 768px) {
    header, main {
        padding: 2em;
    }
}
